.side-nav {
    color: $color-grey-dark-4;
    &__item {
        list-style: none;
        &--active {
            background: rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
        }
    }
    &__item-logo {
        padding: 2.3rem;
    }
    &__logo {
        width: 5rem;
        height: 5rem;
    }
    &__link {
        text-decoration: none;
        font-size: 1.8rem;
        padding: 2.3rem;
        color: $color-grey-dark-4;
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-grey-dark-4;
    }
    &__title {
        color: $color-grey-light-1;
        font-size: 1.7rem;
    } // &__item__item--active {
    //     .side-nav__icon {
    //         fill: $color-active-icon;
    //     }
    //     span {
    //         color: $color-grey-light-1;
    //     }
    // }
}

.social-icons {
    align-self: center;
    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-grey-dark-4;
        margin: 2.3rem;
    }
}

//////INTODUCTION
.introduction {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    @include respond(big-desktop) {

    }
    &__title,
    &__text {
        text-align: center;
        color: #fff;
        font-weight: 200;
    }
    &__title {
        // width: 85%;
        margin: 0 auto;
        font-size: 5rem;
    }
    &__text {
        font-size: 2.3rem;
        line-height: 4rem;
    }
}

///////ABOUT
.about {
    background-color: $color-grey-light-3;
    color: $color-grey-light-5;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
    ul {
        list-style: none;
    }
    &__header {
        background-color: red;
        &__title {
            font-size: 4.5rem;
            font-weight: 300;
            color: $color-grey-dark-4;
            padding: 5rem 0 1rem 0;
            text-align: center;
        }
    }
    &__info {
        justify-content: space-between;
    }
    &__objective,
    &__edu,
    &__exp,
    &__skills,
    &__courses {
        font-size: 1.5rem;
        margin: 5rem;
    }
    &__objective {
        font-size: 1.5rem;
        margin: 2rem 5rem 0 5rem;
        padding-bottom: 3rem;
    }
    &__edu__title,
    &__exp__title,
    &__skills__title,
    &__courses__title,
    &__objective__title {
        align-items: center;
        font-size: 1.6rem;
        &::before,
        &::after {
            background-color: currentColor;
        }
    }
    &__edu__icon,
    &__exp__icon,
    &__skills__icon,
    &__courses__icon,
    &__objective__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-brown-dark-1;
        margin-right: .8rem;
        transform: translateY(.3rem);
    }
    &__skills__item span {
        font-weight: 700;
    }
    &__courses__item span {
        font-style: italic;
    }
}

////////// PORTFOLIO
.portfolio {
    background-color: $color-grey-light-4;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
    &__header {
        &__title {
            font-size: 4.5rem;
            font-weight: 300;
            color: $color-grey-dark-4;
            padding: 5rem 0 1rem 0;
            text-align: center;
        }
        &__text {
            font-size: 2.5rem;
            color: $color-grey-dark-4;
            text-align: center;
            margin-bottom: 2rem;
        }
        &__icon {
            width: 3rem;
            height: 3rem;
            fill: $color-grey-dark-4;
            transform: translateY(.7rem);
        }
    }
    &__cards {
        &__item {
            transition: all .2s;
            &:hover {
                transform: translateY(-1.2rem) scale(1.03);
            }
        }
        &__img,
        &__title {
            box-shadow: .7rem .7rem .6rem 0 rgba(0, 0, 0, 0.05);
        }
        &__title {
            display: block;
            background-color: #ffffff;
            padding: 1.5rem;
            font-size: 2rem;
            color: $color-grey-dark-4;
            text-align: center;
            font-weight: 400;
        }
    }
}

////// FOOTER
.footer {
    &__text {
        background-color: $color-grey-light-6;
        color: $color-grey-dark-4;
        font-size: 2rem;
        padding: 6rem;
        text-align: center;
        font-weight: 300;
    }
}